body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.highlight {
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
}

.odd {
    background: #ecf0f1;
}

.highlight:hover {
    background: #3be6c4;
    cursor: pointer;
}

.filter {
    background: #18bc9c;
}

.details > div > span {
    font-size: 36px;
}

.my-btn {
    background: #feba31 !important;
}

.my-btn:hover {
    background: #fec146 !important;
}

.buy-form > div {
    display: flex;
}

.buy-form > div > .firstcol {
    width: 30%;
}

.buy-form > div > .secondcol {
    width: 70%;
    height: 30px;
    margin: auto 0;
    width: 100%;
    font-size: 22px;
    padding: 14px;
    border-radius: 4px;
}

.error {
    border-color: red;
}

.searchbar {
    padding-top: 48px;
    padding-bottom: 90px;
}
.inp {
    width: 100%;
    display: inline-block;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 3px #ddd;
    border-radius: 4px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 12px;
    padding-bottom: 12px;
}